<div style="align-content: center;">
  <p>
    <mat-toolbar style="background-color: blueviolet;">


      <span class="example-spacer"></span>
      <span style="color:white">{{informacionUsuario}}</span>
    </mat-toolbar>
  </p>


  <h1 style="margin-left: 60px;">Peliculas en estreno</h1>
  <br>
  <div style="width: 90%;	margin-left: 100px;margin-right: auto;">
    <div id="carouselExampleControls" style="width: 90%; align-items:center"  class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" alt="Primera Pelicula">
        </div>
        <div *ngFor="let peliculasEstreno of PeliculasEstreno;index as i" class="carousel-item">
          <img src={{UrlEstreno+peliculasEstreno.backdrop_path}} class="d-block w-100" alt="...">
          <div class="text-center">
            <h4 class="card-title">{{peliculasEstreno.title}}</h4>
          </div>
        </div>
  
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <hr>

  <h1 style="margin-left: 60px;">Peliculas Mas Populares</h1>
  <br>

</div>
