<p>
    <mat-toolbar>

    
    <span class="example-spacer"></span>
    <span>AgilesMovies</span>
  </mat-toolbar>
  </p>

  <p>

    <h1>Peliculas en estreno</h1>
    <br>




    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img  class="d-block w-100" alt="...">
        </div>
        <div *ngFor="let peliculasEstreno of PeliculasEstreno;index as i" class="carousel-item">
          <img src={{UrlEstreno+peliculasEstreno.backdrop_path}} class="d-block w-100" alt="...">
        </div>
    
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>












<div *ngFor="let peliculasEstreno of PeliculasEstreno;index as i"  class="carousel-item">
  <div class="row">
    <div class="col-sm-3">
      <img class="d-block img-fluid" src={{UrlEstreno+peliculasEstreno.backdrop_path}} alt="First slide">
      <div class="text-center">
        <h6 class="card-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h6>
      </div>
    </div>
      
